/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset from meyerweb for clean slate */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */
/* Start of code */
/*  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,800;1,100&display=swap');

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

/* HEAD NAVIGATION */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 25px 20% 10px;
    gap: 30px;

}

.header h1 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.header li {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

/* .header-left {

} */
.header-right ul {
    display: flex;
    gap: 25px;

}

/* MAIN SECTIONS */
.main {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

/* TOP SECTION */
.top-section {
    padding: 6em 20% 6em;
    background-color: #1F2937;
    display: flex;
    width: 100wh;
    flex: 1 0 auto;
}

.top-section p,
.top-section h1,
.top-section button {
    line-height: 1.3;
    color: #e5e7eb;
}

/* LEFT SIDE */
.top-section-left h1 {
    font-size: 48px;
    font-weight: 800;
    flex-wrap: wrap;
}

.top-section-left p {
    font-weight: 100;
    margin-bottom: 30px;
}

.top-section-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-section-left .top-button {
    font-weight: 600;
    font-size: 20px;
    background-color: #3882f6;
    width: 150px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    margin: 0 0 10px 0;
}

/* RIGHT SIDE */
.top-section-right {
    width: 600px;
    margin-left: 20px;
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    margin-left: 90px;

}

.top-section .top-img {
    text-align: center;
}

/* MIDDLE SECTION 1 */
.middle-section-1 h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 40px;
}

.middle-section-1 {
    padding: 100px 20% 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100wh;
    flex: 1 0 auto;
}

.info-section {
    display: flex;
    padding: 20px 0 100px;
    gap: 30px;
}

.info-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
    text-align: center;
    flex: 1 1 auto;
    width: 158px;
}

.info-box {
    border: 4px solid #3882f6;
    flex: 1 1 auto;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.info-text {
    color: #4B5563;
    font-weight: 100;
}

/* MIDDLE SECTION 2 */
.middle-section-2 {
    padding: 10px 20%;
    background-color: #e5e7eb;
    display: flex;
    width: 100wh;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.paragraph {
    display: flex;
    padding: 140px 70px;
    flex-direction: column;
    color: #1F2937;
    gap: 20px;
}

.paragraph p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    line-height: 1.5;

}

.paragraph sub {
    align-self: flex-end;
    font-weight: 800;
    font-size: 25px;
}

/* LOWER SECTION */
.lower-section {
    padding: 10px 20%;
    background-color: #f9faf8;
    display: flex;
    width: 100wh;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.action-prompt {
    margin: 100px 0;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw + 150px);
    height: 150px;
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    line-height: 1.5;
    padding: 10px 150px;

}

.action-prompt h2 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
}

.action-prompt p {
    color: #f9faf8;
}

.action-prompt button {
    width: 150px;
    height: 50px;
    padding: 10px 25px 40px;
    /* Weird interaction ^ ?? */
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 24px;
    border-style: none;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    flex: 0 0 auto;
}

/* FOOTER */
.footer a {
    text-decoration: none;

}

.footer a:visited {
    color: #3882f6;
}

.footer {
    padding: 25px 20%;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    width: 100wh;
    flex: 0 0 35px;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.footer .github {
    font-weight: 800;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
}